<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Document</title>
</head>
<style>
   
</style>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link active" href="/">Pocetna</a></li>
            </ul>
        </nav>
        
        <h1>Kreiraj oglas</h1>
        <div class="row">
                <div class="col-4">
                    <form action="/oglas/new" method="post">
                        <div class="row">
                            <div class="col-6">
                                <h6>Kategorija</h6>
                                <select class="form-select mb-2" name="kategorija" id="kategorija">
                                    <option value="muzicki instrument">muzicki instrument</option>
                                    <option value="odeca">odeca</option>
                                    <option value="kurs">kurs</option>
                                    <option value="bela tehnika">bela tehnika</option>
                                    <option value="nakit">nakit</option>
                                </select>
                            </div>

                            <div class="col-6">
                                <h6>Cena</h6>
                                <input type="number" value="<%= formData.vrednost ? formData.vrednost : ''%>" id="vrednost" name="vrednost" class="form-control">
                                <% if (errors.vrednost) { %>
                                    <p style="color: red;"><%= errors.vrednost %></p>  
                                <% } %>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <h6>Valuta</h6>
                                <select class="form-select mb-2" name="valuta" id="valuta">
                                    <option value="dinar">dinar</option>
                                    <option value="euro" >euro</option>
                                    <option value="rublja">rublja</option>
                                    <option value="dolar">dolar</option>
                                </select>
                                <% if (errors.valuta) { %>
                                    <p style="color: red;">
                                        <%= errors.valuta %>
                                    </p>
                                <% } %>
                            </div>

                            <div class="col-6">
                                <h6>Opis predmeta</h6>
                                <textarea class="form-control" name="opis" id="opis"><%= formData.opis ? formData.opis : '' %></textarea>
                                <% if (errors.opis) { %>
                                    <p style="color: red;">
                                        <%= errors.opis %>
                                    </p>
                                <% } %>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-5">
                                <h6>Datum isteka</h6>
                                <input value="<%= formData.datum ? formData.datum : ''%>" id="datum" name="datum" type="date" required class="form-control" placeholder="DD-MM-YYYY">
                                <% if (errors.datum) { %>
                                    <p style="color: red;">
                                        <%= errors.datum %>
                                    </p>
                                <% } %>
                            </div> 
                            <div class="col-7">
                                <h6>Tagovi</h6>
                                <div class="d-flex">
                                    <div>
                                        <input class="form-control" id="tagInput" type="text"></input>
                                        <% if (errors.tags) { %>
                                            <p style="color: red;">
                                                <%= errors.tags %>
                                            </p>
                                        <% } %>
                                    </div>
                                    <div>
                                        <button type="button" id="dodajTagBtn" class="btn btn-info">Dodaj</button>
                                    </div>
                                </div>
                                <div class="d-block" id="tags-container">
                                    <% if (formData.tags){ %>
                                        <% for(let i=0; i < formData.tags.length; i++) { %>
                                            <div class="d-flex mb-2">
                                                <input name="tags" id="mailTextInput" readonly type="input" class="form-control"
                                                    value="<%=formData.tags[i]%>" />
                                                <button type="button" class="btn-sm btn btn-warning  me-1 edit-btn">Edit</button>
                                                <button type="button" class="btn-sm btn btn-danger remove-btn">Remove</button>
                                            </div>
                                        <%}%>
                                    <% } %>
                                </div>
                            </div>
                            <h5>Novi tagovi:</h5>
                            <span id="prikazTagova"></span>
                        </div>
                        
                        <div class="row">
                            <h6>Mejlovi:</h6>
                            <div class="col-5">
                                <select class="form-select" id="tipMejla">
                                    <option value="privatni">privatni</option>
                                    <option value="poslovni">poslovni</option>
                                </select> 
                            </div>
                            <div class="col-7">
                                <div class="d-flex">
                                    <div>
                                        <input class="form-control" id="inputMejl" type="email"></input>
                                        <% if (errors.mails) { %>
                                            <p style="color: red;">
                                                <%= errors.mails %>
                                            </p>
                                        <% } %>
                                    </div>
                                    <div>
                                        <button type="button" id="dodajMejl" class="btn btn-info mb-2">Dodaj</button>
                                    </div>
                                </div>
                                <div id="mails-container">
                                    <% if (formData.mails){ %>
                                        <% for(let i=0; i < formData.mails.length; i++) { %>
                                            <div class="d-flex mb-2">
                                                <input id="mailTextInput" name="mails" readonly type="input" class="form-control" value="<%=formData.mails[i]%>" />
                                                <input id="mailTypeInput" name="type" readonly type="input" class="form-control mx-2" value="<%=formData.type[i]%>" />
                                                <button type="button" class="btn-sm btn btn-warning  me-1 edit-btn">Edit</button>
                                                <button type="button" class="btn-sm btn btn-danger remove-btn">Remove</button>
                                            </div>
                                        <%}%>
                                    <% } %>
                                </div>
                            </div>
                            <h5>Novi mejlovi:</h5>
                            <div id="listaMejlova"></div>
                        </div>
                        
                        <button type="submit" id="sacuvajOglasBtn" class="btn btn-success mb-1">Sacuvaj</button>
                        <a href="/" class="btn btn-danger">Ponisti</a>
                    </form>
                </div>   
        </div>
        <div class="errors-container">
            <!-- Display validation errors if any -->
            
        </div>
    </div>

    <!-- Edit Tag Modal -->
    <div class="modal fade" id="editTagModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit Tag</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" id="editTagInputModal" class="form-control">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveTagModalBtn">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Mail Modal -->
    <div class="modal fade" id="mailModal" tabindex="-1" aria-labelledby="mailModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mailModalLabel">Edit mail</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" id="mailInputModal" class="form-control">
                    <select class="form-control" id="mailTypeInputModal">
                        <option value="privatni">privatni</option>
                        <option value="poslovni">poslovni</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveMailModal">Save changes</button>
                </div>
            </div>
        </div>
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // rad sa tagovima
        const dodajTagBtn = document.getElementById('dodajTagBtn');
        const tagInput = document.getElementById('tagInput');
        const showTags = document.getElementById('prikazTagova');
        const saveOglasBtn = document.getElementById("sacuvajOglasBtn");

        // rad sa mejlovima
        const dodajMejlBtn = document.getElementById("dodajMejl");
        const mejlInput = document.getElementById("inputMejl");
        const mejlTipInput = document.getElementById("tipMejla");
        const listaMejlova  = document.getElementById("listaMejlova");

        let primaryInputTag;
        let currentTagElement;
        // let currentInputTag;
        // //let editInputModal;

        // tag modal
        const editTagModal = new bootstrap.Modal(document.getElementById('editTagModal'));
        const tagModal = new bootstrap.Modal(document.getElementById("editTagModal"));
        const editInputModal = document.getElementById("editTagInputModal");
        const saveTagModalBtn = document.getElementById("saveTagModalBtn");
         
        function openTagModal() {
            editInputModal.value = primaryInputTag;
            editTagModal.show();
        }

        // mail modal
        const mailModal = new bootstrap.Modal(document.getElementById('mailModal'));
        const mailInputFieldModal = document.getElementById('mailInputModal');
        const mailTypeSelectFieldModal = document.getElementById('mailTypeInputModal');
        const mailModalSaveBtn = document.getElementById('saveMailModal');

        let primaryInputMail;
        let primarySelectMailType;

        function openMailModal() {
            mailInputFieldModal.value = primaryInputMail.value;
            mailTypeSelectFieldModal.value = primarySelectMailType.value;
            console.log(mailInputFieldModal.value);
            
            mailModal.show();
        }
        
        document.getElementById('tags-container').addEventListener('click', function (e) {
            if (e.target.classList.contains('edit-btn')) {
                editTag(e.target);
            } else if (e.target.classList.contains('remove-btn')) {
                removeTag(e.target);
            }
        });

        document.getElementById('mails-container').addEventListener('click', function (e) {
            if (e.target.classList.contains('edit-btn')) {
                editMail(e.target);
            } else if (e.target.classList.contains('remove-btn')) {
                removeMail(e.target);
            }
        });

        function editMail(editMailBtn) {
            primaryInputMail = editMailBtn.parentNode.querySelector('#mailTextInput');
            primarySelectMailType = editMailBtn.parentNode.querySelector('#mailTypeInput');
            openMailModal();
        }

        function removeMail(btn) {
            const parent = btn.parentNode;
            parent.parentNode.removeChild(parent);
        }

        function removeTag(button) {
            var parentDiv = button.parentNode; // button container
            parentDiv.parentNode.removeChild(parentDiv); // removing child of parent div (container)
        }

        function editTag(editButton) {
            primaryInputTag = editButton.parentNode.getElementsByTagName('input')[0];
            openTagModal();
        }

        mailModalSaveBtn.addEventListener('click', function(){
            let newMail = mailInputFieldModal.value;
            let newType = mailTypeSelectFieldModal.value;
            if (newMail && newType) {
                primaryInputMail.value = newMail;
                primarySelectMailType.value = newType;
                mailModal.hide();
            } 
        })

        

        dodajMejlBtn.addEventListener('click',function(){
            dodajMejl();
        })

        function dodajMejl(){

            const mailText = mejlInput.value;
            const mejlTip = mejlTipInput.value;

            if(mailText.length == 0 || mejlTip.length == 0){
                alert("Proverite unete podatke");
                return;
            }

            const mailElement = document.createElement('div');
            mailElement.classList.add('mail', 'mb-2', 'd-flex');

            const mailInputElement = document.createElement('input');

            mailInputElement.classList.add('form-control');
            mailInputElement.type = 'text';
            mailInputElement.name = 'mails';
            mailInputElement.value = mailText;
            mailInputElement.readOnly = true;

            const mailTypeElement = document.createElement('input');

            mailTypeElement.classList.add('form-control', 'mx-2');
            mailTypeElement.type = 'text';
            mailTypeElement.name = 'type';
            mailTypeElement.value = mejlTip;
            mailTypeElement.readOnly = true;


            const removeBtn = document.createElement('button');
            removeBtn.textContent = 'Remove';
            removeBtn.type = 'button';
            removeBtn.classList.add('btn', 'btn-sm', 'btn-danger');

            removeBtn.addEventListener('click', function () {
                listaMejlova.removeChild(mailElement);
            });

            const editBtn = document.createElement('button');

            editBtn.textContent = 'Edit';
            editBtn.type = 'button';
            editBtn.classList.add('btn', 'btn-sm', 'btn-warning', 'me-1');

            editBtn.addEventListener('click', function () {
                primaryInputMail = mailInputElement;
                primarySelectMailType = mailTypeElement;
                openMailModal();
            });

            mailElement.appendChild(mailInputElement);
            mailElement.appendChild(mailTypeElement);
            mailElement.appendChild(editBtn);
            mailElement.appendChild(removeBtn);
            // mailElement.appendChild(removeBtn);

            listaMejlova.appendChild(mailElement);

            

            mejlInput.value = '';  
        }

        function openTagModal() {
            editInputModal.value = primaryInputTag.value;
            editTagModal.show();
        }

        dodajTagBtn.addEventListener('click', function () {
            const tagText = tagInput.value.trim();
            if (tagText) {
                
                
                const tagContainer = document.createElement('div','my-2');
                tagContainer.classList.add('tag', 'mb-2','d-flex', 'd-block');
                const tagInputElement = document.createElement('input');
                tagInputElement.classList.add('form-control');
                tagInputElement.type = 'text';
                tagInputElement.name = 'tags'
                tagInputElement.value = tagText;
                tagInputElement.readOnly = true;

                const editBtn = document.createElement('button');
                editBtn.textContent = 'Edit';
                editBtn.type = 'button';
                editBtn.classList.add('btn', 'btn-sm', 'btn-warning', 'me-1');

                editBtn.addEventListener('click', function () {
                    primaryInputTag = tagInputElement;
                    openTagModal();
                });

                const removeBtn = document.createElement('button');
                removeBtn.textContent = 'Remove';
                removeBtn.type = 'button';
                removeBtn.classList.add('btn', 'btn-sm', 'btn-danger');

                removeBtn.addEventListener('click', function () {
                    showTags.removeChild(tagElement);
                });
                tagContainer.appendChild(tagInputElement);
                //tagElement.appendChild(tagContainer);
                tagContainer.appendChild(editBtn);
                tagContainer.appendChild(removeBtn);

                showTags.appendChild(tagContainer);

                tagInput.value = '';

            }
        });

        saveTagModalBtn.addEventListener('click', function () {
            const newTagText = editInputModal.value.trim();
            if (newTagText) {
                primaryInputTag.value = newTagText;
                editTagModal.hide();
            }
            else{
                alert('Value cannot be empty');
            }
        });

        
    });
</script>
</body>
</html>